#!/bin/bash
set -euo pipefail

DEVCONTAINER_DIR="$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" && pwd)"
containerWorkspaceFolder="$(dirname -- "$DEVCONTAINER_DIR")"
export containerWorkspaceFolder

{% for step in devcontainer.install_steps %}
{{ step | trim }}
{% if not loop.last %}

{% endif -%}
{% endfor -%}
