[init]
	defaultbranch = main
[core]
	excludesfile = ~/.gitignore_global
	editor = code
[user]
	name = S Smith
	email = root@mkdir.foo
	signingkey = 355F8D8492DAE97AB6B6A22715CC6741E34AB2DD
[commit]
	gpgsign = true
[gpg]
	program = gpg
[credential]
	helper = cache
[url "git@github.com:"]
	insteadOf = https://github.com/
[safe]
	directory = "/workspace"
